---
services:

  rest:
    image: apache/iceberg-rest-fixture
    depends_on:
      bootstrap:
        condition: service_completed_successfully 
    ports:
      - "8181:8181"
    volumes:
      - secrets:/run/secrets
      - rest-data:/data
    environment:
      - CATALOG_WAREHOUSE=s3://datastore
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      - CATALOG_S3_ENDPOINT=http://garage:3900
      - CATALOG_S3_PATH__STYLE__ACCESS=true
      - CATALOG_URI=jdbc:sqlite:/data/iceberg_catalog.db
      # Does Garage seriously not support aws chunked encoding? Huh.
      - JAVA_TOOL_OPTIONS=-Daws.requestChecksumCalculation=WHEN_REQUIRED -Daws.responseChecksumValidation=WHEN_REQUIRED
    entrypoint: "/bin/sh"
    command:
      - "-c"
      - |-
          export AWS_ACCESS_KEY_ID="$(cat /run/secrets/aws-access-key-id)"
          export AWS_SECRET_ACCESS_KEY="$(cat /run/secrets/aws-secret-access-key)"
          export AWS_REGION=garage
          java -jar iceberg-rest-adapter.jar

  garage:
    image: &garage-image dxflrs/garage:v2.1.0
    environment:
      RUST_LOG: "garage_net::netapp=warn,garage_api_admin::api_server=warn" # no more healthcheck logspam
    volumes: &garage-volumes
      - garage-data:/garage-data  
      - ./config/garage.toml:/etc/garage.toml
      - secrets:/run/secrets
    healthcheck:
      test: ["CMD", "/garage", "status"]
      interval: 1s
      timeout: 10s
      retries: 3
      start_period: 3s
    ports:
      - "3900:3900"
      - "3901:3901"
      - "3902:3902"
      - "3903:3903"

  bootstrap:
    build:
      context: images/bootstrap/
      dockerfile: Containerfile
    volumes: *garage-volumes
    restart: "no"
    depends_on:
      garage:
        condition: service_healthy
    entrypoint: "/bin/sh"
    command:
      - "-c"
      - |-
          /garage_bootstrap.sh

volumes:
  secrets:
  rest-data:
  garage-data:

