metadata_dir = "/garage-data/meta"
data_dir = "/garage-data/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "garage:3901"
rpc_secret = "390536920be25bfe8982205018962c8752498375ae999ecf573a2b84b23b10f2"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "8a3395df90f12bf2293aeee734d5cca12fe986db01261816b70e2506a012737e"
metrics_token = "97eed0a019feac3e90c481b68f29818292aa9f45d1feadb084d57a17343e6239"
